
<mat-card>
    <mat-spinner *ngIf="isLoading" ></mat-spinner>
    <form (submit)="onSaveCategorie(categorieForm)" #categorieForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput
            name="title"
             type="text"
             [ngModel]="categorie?.title"
             required 
             minlength="3"
             #title="ngModel"
             placeholder="title "
             ngModel>
             <mat-error *ngIf="title.invalid">Please enter a categorie title</mat-error>
        </mat-form-field>
            <mat-form-field>   
        <textarea matInput row="6" 
        name="content"
        [ngModel]="categorie?.content"
        #content="ngModel"
        required
        placeholder="content"
        ngModel>
    </textarea>
        <mat-error *ngIf="content.invalid">Please enter a categorie content</mat-error>

        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">categorie save</button>
    </form>


</mat-card>

